<div id="header">
	<div id="logo">
		<a href="http://pauv.co">
		<%=image_tag("pauvco220.jpg")%>
		</a>
	</div>

	<div id="beta">
		<%=image_tag("beta.png")%>
	</div>



</div>
<div id="container">
	<div id="mainFrame">

	<%
		Target.find(:all, :order => "score DESC").first(10).each_with_index do |target,i|
	%>

		<div id="rank<%= i %>" class="top10">

			<a href="<%= target.link_sex %>/<%= target.name %>">
				<%= i+1 %>.<%= target.name %>
			</a>




		</div>

	<%

		end

		if user_signed_in?
	%>


		<div id="newCandidate">
			<div id="candidateFields">
				<input type="text" id="candidateName" class="inputText" placeholder="Nom du nouveau candidat"></input>
				<input type="text" id="candidateUrl" class="inputText" placeholder="URL principale"></input>
			</div> 

			<div id="addCandidate">
				<input id="addCandidateButton" class="submit" type="submit" value="Ajouter un candidat">
			</div> 
		</div> 


	<%

		end

	%>



	</div> 







<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 4,
  interval: 30000,
  width: 920,
  height: 300,
  theme: {
    shell: {
      background: '#C0DEED',
      color: '#000'
    },
    tweets: {
      background: '#fff',
      color: '#000',
      links: '#0049CE'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    behavior: 'all'
  }
}).render().setUser('pauvco').start();
</script>








</div>



		<div id="social">
			<div class="socialEl">
				<g:plusone></g:plusone>
				<script type="text/javascript">
				  (function() {
				    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				    po.src = 'https://apis.google.com/js/plusone.js';
				    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				  })();
				</script>
			</div>

			<div class="socialEl">
				<div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			</div>

			<div class="socialEl" style="margin-top:6px;">


				<a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="pauvco" data-lang="fr">Tweeter</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
			</div>


		</div>


























			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>







<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stat.pauv.co/" : "http://stat.pauv.co/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stat.pauv.co/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->




